@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

p {
  color: white;
}

.header {
  font-size: large;
  font-weight: 700;
  background-color: black;
  /* background: rgb(0, 38, 142);
  background: linear-gradient(
    90deg,
    rgba(0, 38, 142, 1) 0%,
    rgba(108, 0, 100, 1) 100%
  ); */
}

.grad-background {
  background: rgb(0, 38, 142);
  background: linear-gradient(
    90deg,
    rgba(0, 38, 142, 1) 0%,
    rgba(108, 0, 100, 1) 100%
  );
}

.profilepic {
  width: 45%;
  border-radius: 50%;
  box-shadow: inset 0 0 1em gold, 0 0 1em rgb(217, 255, 0);
}

/* .link {
  ":visited": {
    color: "purple";
  }
} */

.gap-top {
  padding-top: 250px;
}

.gap-bot {
  padding-bottom: 150px;
}

.ouropreto-img {
  border-radius: 20px;
}

.about::first-letter {
  font-size: 5em;
}
